* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.token.selector {
    color: black;
}

.token.property {
    color: black;
}

.token.punctuation {
    color: black;
}

#code {
    overflow: auto;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes breath {
    0% {
        box-shadow: 0 0 10px rgb(255, 255, 255)
    }
    100% {
        box-shadow: 0 0 10px rgba(181, 181, 181, 0.2)
    }
}
@keyframes clipMe {
     0%, 100% {
         border: 2px solid transparent;
     }
     25% {
         border: 2px solid #28A79A;
     }
     50% {
         border: 2px solid transparent;
     }
     75% {
         border: 2px solid #28A79A;
     }
 }
@keyframes lineHeight {
    0%, 100% {
        height: 100%;
    }
    25% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 0;
    }
}